@model Guid

<div class="container row pt-4">
    <div class="col-12 col-md-10 offset-md-2 col-xxl-8 offset-xxl-4 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br/><br/>
        <img src="~/images/product/thankyou.png" width="80%" />
    </div>
    <div class="col-12 col-md-10 offset-md-2 col-xxl-8 offset-xxl-4 text-center text-primary ">
        <br/>
        <h4> Your order has been placed successfully!</h4> <br />
    </div>

</div> 