
<div class="card shadow border-0 my-4" >
    <div class="card-header bg-primary  ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="text-white py-2">User List</h4>
            </div>
        </div>
    </div>
    <div class="card-body p-4">    
        <table id="tblData" class="table table-bordered table-striped" >
            <thead>
                <tr >
                    <th class="bg-primary text-white bg-gradient"> Name </th>        
                    <th class="bg-primary text-white bg-gradient"> Email </th>
                    <th class="bg-primary text-white bg-gradient"> Phone </th>
                    <th class="bg-primary text-white bg-gradient"> Company </th>
                    <th class="bg-primary text-white bg-gradient"> Role </th>
                    <th class="bg-primary text-white bg-gradient"></th>

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
        <script src="~/js/user.js"></script>
}

